* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: url("../img/banner.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hair {
    height: 10px;
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
    background: #30363e;
    color: #fff;
}

.hair a {
    color: #eee;
}

.hair p {
    float: right;
    margin-right: 50px;
}

.header {
    background: rgba(0, 0, 0, .4);
}

.navbar ul {
    margin: 0;
    height: 50px;
    list-style: none;
    float: right;
}

.navbar ul li, .navbar .logo {
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;
}

.navbar ul li a {
    line-height: inherit;
    display: inline-block;
    height: inherit;
    color: #fff;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.navbar ul li a:hover {
    color: rgba(255, 255, 255, .5);
}

.logo {
    padding: 0 20px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
}

.logo a {
    color: #fff;
}

#banner {
    height: 700px;
    margin: 0;
}

#banner .inner {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 150px;
    color: #fff;
    line-height: 30px;
}

#banner .inner h2 {
    letter-spacing: 5px;
}

#banner .inner .more {
    margin-top: 100px;
}

#banner .inner .inner_inf {
    margin: 20px 0;
    letter-spacing: 5px;
}

button {
    border: none;
    background: #333;
    color: #eee;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
}

#banner .inner button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: background .5s ease, transform .5s ease-in 0s;
}

#banner .inner button:hover {
    background: #fff;
    color: #000;
}

.hr {
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
}

.more-ico {
    position: relative;
    top: .1em;
    width: .3em;
    height: 2em;
    background-color: rgba(200, 200, 200, .7);
    border-radius: .15em;
    margin: 80px auto;
    cursor: pointer;
}

.more-ico:before {
    content: "";
    position: absolute;
    top: 1.9em;
    left: -1.9em;
    width: 2em;
    height: .3em;
    background-color: rgba(200, 200, 200, .7);
    transform: rotate(135deg);
    transform-origin: right center;
    border-radius: .15em;
}

.more-ico:after {
    content: "";
    position: absolute;
    top: 1.9em;
    left: -1.8em;
    width: 2em;
    height: .3em;
    background-color: rgba(200, 200, 200, .7);
    transform: rotate(45deg);
    transform-origin: right center;
    border-radius: .15em;
}

.footer {
    padding:50px;
    text-align: center;
    color: #f9fafb;
    line-height: 30px;
    background: #20252aee
}

section {
    color: #fff;
}

.section-1 {
    background: rgba(0, 0, 0, .4);
    height: 200px;
}

.section-1 .section-content {
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: 2px;
    padding-top: 30px;
    height: 200px;
    padding: 50px 0;
}

.section-1 .section1-left {
    max-width: 300px;
    float: left;
}

.section-1 .section1-right {
    float: right;
}

.section-1 .section1-right button {
    display: block;
    margin-bottom: 30px;
    padding: 10px 0;
    width: 150px;
}

.section-1 .btn1 {
    background: rgba(255, 0, 0, 1);
    transition: background, color .2s ease, transform 2s ease-in 0s;
    border: 1px solid #f00;
}

.section-1 .btn1:hover {
    background: rgba(255, 0, 0, .7);
    color: #ddd;
    border: 1px solid #f00;
}

.section-1 .btn2 {
    background: #00000000;
    border: 1px solid #fff;
    transition: background, color .2s ease, transform 2s ease-in 0s;
}

.section-1 .btn2:hover {
    background: #fff;
    color: #000;
}

.section-4 {
    background: #23b2a7;
    text-align: center;
    padding: 100px 0;
    line-height: 20px;
}

.wrapper {
    margin: 0 auto;
}

.section4 h3 {
    margin-top: 50px;
}

.section-4 .hr {
    width: 40%;
    background: #215a56;
}

.sub_heading {
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.section-4 .icon-group {
    margin-top: 100px;
}

.section-4 .icon-group span {
    width: 80px;
    height: 80px;
    background: #23c397;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 20px;
    border: 1px #53A973 solid;
}
.section-3{
    background: #30363e;
}

.article-preview:after {
    content: "";
    display: block;
    clear: both;
}
.img-section {
    width: 45%;
    font-size:0;
}

.img-section img {
    width: 100%;
}

.text-section {
    position: relative;
    top: 40px;
    left: 40px;
    width: 55%;
    letter-spacing: 1px;
    color: #fff;
}

.text-section > * {
    max-width: 90%;
}

.text-section .sub_heading {
    padding-top: 20px;
}
.article-preview > div {
    float: left;
}
.article-preview:nth-child(odd) {
    color:red;
    background: rgba(255, 255, 255, 0.05);
}
.section-2 {
    background: #9444c5;
}
.section-2 .heading-wrapper{
    margin:0 auto;
    max-width:60%;
    text-align:center;
    padding-top:50px;
    line-height:25px;
}
.heading-wrapper .hr{
    width:60%;
}
.section-2 .card-group{
    margin:0 auto;
    max-width:60%;
    padding:50px;
}
.card-group:after{
    content:"";
    display:block;
    clear:both;
}
.card{
    float:left;
    width:50%;
    height:300px;
    padding:50px;
    box-sizing:border-box;
    /*border:1px solid #fff;*/
}
.card:nth-child(1){
    background:rgba(0,0,0,.05);
}
.card:nth-child(2){
    background:rgba(0,0,0,.1);
}
.card:nth-child(3){
    background:rgba(0,0,0,.15);
}
.card:nth-child(4){
    background:rgba(0,0,0,.2);
}
.card:nth-child(5){
    background:rgba(0,0,0,.25);
}
.card:nth-child(6){
    background:rgba(0,0,0,.3);
}
